@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap");

body {
  box-sizing: border-box;
  background-color: #000000;
  // background-color: #2b2b2c;
  background-color: #308871;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2316745e' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");


  background-color: #180028;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23180028' cx='50' cy='0' r='50'/%3E%3Cg fill='%23181035' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23181a42' cx='50' cy='100' r='50'/%3E%3Cg fill='%2316244f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%230f2e5c' cx='50' cy='200' r='50'/%3E%3Cg fill='%23003969' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004475' cx='50' cy='300' r='50'/%3E%3Cg fill='%23005081' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005c8c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23006796' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300739f' cx='50' cy='500' r='50'/%3E%3Cg fill='%23007fa8' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23008caf' cx='50' cy='600' r='50'/%3E%3Cg fill='%230098b5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300a4ba' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300b0be' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300bcc1' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300c8c3' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d4c4' cx='50' cy='900' r='50'/%3E%3Cg fill='%2333e0c4' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2354ECC4' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
// background-attachment: fixed;
background-size: contain;

}

#tsparticles {
  width: 100%;
}

#tsparticles canvas {
  width: 100%;
  height: auto;
  pointer-events: initial;
  position: fixed;
  z-index: -10;
  background-color: #000000;
}

* {
  font-family: "Signika Negative";
}

body::-webkit-scrollbar {
  width: 10px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: fixed; /* Ocultar scroll */
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #54ECC4;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}
