@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap");

body {
  box-sizing: border-box;
}

#tsparticles {
  width: 100%;
}

#tsparticles canvas {
  width: 100%;
  height: auto;
  pointer-events: initial;
  position: fixed;
  z-index: -10;
  background-color: #000000;
}

* {
  font-family: "Signika Negative";
}

body::-webkit-scrollbar {
  width: 10px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: fixed; /* Ocultar scroll */
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #54ECC4;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}
